{% extends "base.html" %}
{% block title %}墓学在线网{% endblock %}

{% block custom_bread %}

{% endblock %}

{% block custom_css %}
    <style>
        .carousel {
  padding: 20px;
  -webkit-perspective: 500px;
          perspective: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carousel > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 40%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel figure img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0px;
}
.carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
.carousel nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0;
}
.carousel nav button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  padding: 5px 10px;
}

    </style>
    <link href="/static/css/muke/demo.css" rel="stylesheet">
     <link href="/static/css/muke/normalize.css" rel="stylesheet">
{% endblock %}

{% block custom_content %}
    <div class="carousel" data-gap="80">
		<figure>
				<img src="/static/images/lunbo_pic/11.jpg" alt="">
			<img src="/static/images/lunbo_pic/22.jpg" alt="">
			<img src="/static/images/lunbo_pic/33.jpg" alt="">
			<img src="/static/images/lunbo_pic/44.jpg" alt="">
			<img src="/static/images/lunbo_pic/55.jpg" alt="">
			<img src="/static/images/lunbo_pic/66.jpg" alt="">
			<img src="/static/images/lunbo_pic/1.jpg" alt="">
			<img src="/static/images/lunbo_pic/88.jpg" alt="">
		</figure>
		<nav>
			<button class="nav prev">Prev</button>
			<button class="nav next">Next</button>
		</nav>
	</div>
       <div class="carousel" data-gap="80">
		<figure>
				<img src="/static/images/lunbo_pic/1.jpg" alt="">
			<img src="/static/images/lunbo_pic/2.jpg" alt="">
			<img src="/static/images/lunbo_pic/3.jpg" alt="">
			<img src="/static/images/lunbo_pic/4.jpg" alt="">
			<img src="/static/images/lunbo_pic/5.jpg" alt="">
			<img src="/static/images/lunbo_pic/6.jpg" alt="">
			<img src="/static/images/lunbo_pic/7.jpg" alt="">
			<img src="/static/images/lunbo_pic/8.jpg" alt="">
		</figure>
		<nav>
			<button class="nav prev">Prev</button>
			<button class="nav next">Next</button>
		</nav>
	</div>
       <div class="carousel" data-gap="80">
		<figure>
				<img src="/static/images/lunbo_pic/1.jpg" alt="">
			<img src="/static/images/lunbo_pic/2.jpg" alt="">
			<img src="/static/images/lunbo_pic/3.jpg" alt="">
			<img src="/static/images/lunbo_pic/4.jpg" alt="">
			<img src="/static/images/lunbo_pic/5.jpg" alt="">
			<img src="/static/images/lunbo_pic/6.jpg" alt="">
			<img src="/static/images/lunbo_pic/7.jpg" alt="">
			<img src="/static/images/lunbo_pic/8.jpg" alt="">
		</figure>
		<nav>
			<button class="nav prev">Prev</button>
			<button class="nav next">Next</button>
		</nav>
	</div>

{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript">
	'use strict';

	window.addEventListener('load', function () {
		var carousels = document.querySelectorAll('.carousel');

		for (var i = 0; i < carousels.length; i++) {
			carousel(carousels[i]);
		}
	});

	function carousel(root) {
		var figure = root.querySelector('figure'),
			nav = root.querySelector('nav'),
			images = figure.children,
			n = images.length,
			gap = root.dataset.gap || 0,
			bfc = 'bfc' in root.dataset,
			theta = 2 * Math.PI / n,
			currImage = 0;

		setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
		window.addEventListener('resize', function () {
			setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
		});

		setupNavigation();

		function setupCarousel(n, s) {
			var apothem = s / (2 * Math.tan(Math.PI / n));

			figure.style.transformOrigin = '50% 50% ' + -apothem + 'px';

			for (var i = 0; i < n; i++) {
				images[i].style.padding = gap + 'px';
			}for (i = 1; i < n; i++) {
				images[i].style.transformOrigin = '50% 50% ' + -apothem + 'px';
				images[i].style.transform = 'rotateY(' + i * theta + 'rad)';
			}
			if (bfc) for (i = 0; i < n; i++) {
				images[i].style.backfaceVisibility = 'hidden';
			}rotateCarousel(currImage);
		}

		function setupNavigation() {
			nav.addEventListener('click', onClick, true);

			function onClick(e) {
				e.stopPropagation();

				var t = e.target;
				if (t.tagName.toUpperCase() != 'BUTTON') return;

				if (t.classList.contains('next')) {
					currImage++;
				} else {
					currImage--;
				}

				rotateCarousel(currImage);
			}
		}

		function rotateCarousel(imageIndex) {
			figure.style.transform = 'rotateY(' + imageIndex * -theta + 'rad)';
		}
	}
</script>
{% endblock %}




























